<header class="top-nav fixed-top bg-white border-bottom d-flex justify-content-between align-items-center px-2">
    <a class="navbar-brand ml-3 py-2" href="#">
        <img src="../assets/heart.jpg" width="40" height="30" class="d-inline-block align-top" alt="">
        <label class="brand-name ml-1 mb-0">italk</label>
    </a>

    <nav class="nav top-nav pt-2">
        <a class="nav-link" (click)="changeTab($event)">
            <i-feather name="users" class="mr-2 top-nav__icon"></i-feather>Groups</a>
        <a class="nav-link active" (click)="changeTab($event)">
            <i-feather name="message-square" class="mr-2 top-nav__icon"></i-feather>Messages</a>
        <a class="nav-link" (click)="changeTab($event)">
            <i-feather name="video" class="mr-2 top-nav__icon"></i-feather>Video Calls</a>
    </nav>

    <div class="d-flex align-items-center py-2">
        <i-feather name="help-circle" class="mr-3 header-icon"></i-feather>
        <div class="position-relative mr-2 ">
            <i-feather name="bell" class="header-icon active"></i-feather>
            <div class="notification-dot"></div>
        </div>
        <div class="dropdown">
            <a class="btn dropdown-toggle d-flex align-items-center shadow-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="profile-image__container mr-2">
                    <img src="../../assets/profile.jpg" alt="" class="profile-image__img" />
                </div>
                <label class="mb-0 user-name">Robin Wang</label>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item px-2" href="#">Logout</a>
                <a class="dropdown-item px-2" href="#">Change Password</a>
            </div>
        </div>
    </div>
</header>