<div class="profile d-flex flex-column align-items-center">
    <div class="profile__photo-and-logo position-relative">
        <div class="profile__photo-container">
            <img src="../assets/profile.jpg" alt="" class="profile__photo" />
        </div>
        <img src="../assets/heart.jpg" width="30" height="25" class="profile__photo-logo">
    </div>
    <p class="profile__name mt-2 mb-0">Robin Wang</p>
    <p class="profile__bio text-center">Life starts at the end of your comfort zone.</p>
</div>

<nav class="nav flex-column sidebar">
    <a class="nav-link my-1 shadow-sm active" href="#">
        <i-feather name="message-square" class="mr-2 sidebar__icon"></i-feather>Messages
    </a>
    <div>
        <ul class="sidebar__sub-menu mb-1">
            <li class="sidebar__sub-menu-item my-2 active" href="#">
                Chats
            </li>
            <li class="sidebar__sub-menu-item my-2" href="#">
                Send Message
            </li>
        </ul>
    </div>
    <a class="nav-link my-1 shadow-sm" href="#">
        <i-feather name="users" class="mr-2 sidebar__icon"></i-feather>Groups
    </a>
    <div>
        <ul class="sidebar__sub-menu mb-1">
            <li class="sidebar__sub-menu-item my-2" href="#">
                History
            </li>
            <li class="sidebar__sub-menu-item my-2" href="#">
                Create Groups
            </li>
        </ul>
    </div>

    <a class="nav-link my-1 shadow-sm" href="#">
        <i-feather name="video" class="mr-2 sidebar__icon"></i-feather>Video Calls
    </a>
    <div>
        <ul class="sidebar__sub-menu mb-1">
            <li class="sidebar__sub-menu-item my-2" href="#">
                History
            </li>
            <li class="sidebar__sub-menu-item my-2" href="#">
                Calls
            </li>
        </ul>
    </div>
</nav>